In [1]:
import pandas as pd

In [16]:
df = pd.read_csv('AB_NYC_2019.csv')

df_id = df[['id']]
df_id.head()

     id
0  2539
1  2595
2  3647
3  3831
4  5022

In [18]:
rbnbs_100 = pd.read_csv('rbnb_100.csv')['id']
rbnbs_200 = pd.read_csv('rbnb_200.csv')['id']
rbnbs_300 = pd.read_csv('rbnb_300.csv')['id']
rbnbs_400 = pd.read_csv('rbnb_400.csv')['id']
rbnbs_500 = pd.read_csv('rbnb_500.csv')['id']
rbnbs_600 = pd.read_csv('rbnb_600.csv')['id']
rbnbs_700 = pd.read_csv('rbnb_700.csv')['id']
rbnbs_800 = pd.read_csv('rbnb_800.csv')['id']
rbnbs_900 = pd.read_csv('rbnb_900.csv')['id']
rbnbs_1000 = pd.read_csv('rbnb_1000.csv')['id']

flat_groups = []
for flat in df_id['id']:
    if flat in rbnbs_100.values:
        flat_groups.append('100')
    elif flat in rbnbs_200.values:
        flat_groups.append('200')
    elif flat in rbnbs_300.values:
        flat_groups.append('300')
    elif flat in rbnbs_400.values:
        flat_groups.append('400')
    elif flat in rbnbs_500.values:
        flat_groups.append('500')
    elif flat in rbnbs_600.values:
        flat_groups.append('600')
    elif flat in rbnbs_700.values:
        flat_groups.append('700')
    elif flat in rbnbs_800.values:
        flat_groups.append('800')
    elif flat in rbnbs_900.values:
        flat_groups.append('900')
    elif flat in rbnbs_1000.values:
        flat_groups.append('1000')
    else:
        flat_groups.append('else')

# Order in which we want each category to be represented
order = list(map(str, list(range(100, 1100, 100))))
order.append('else')

df_id['subway_proximity'] = pd.Categorical(flat_groups, order)

C:\Users\polam\AppData\Local\Temp\ipykernel_60044\2561058558.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_id['subway_proximity'] = pd.Categorical(flat_groups, order)

In [19]:
df_id.head()

     id subway_proximity
0  2539              700
1  2595             else
2  3647              500
3  3831              500
4  5022              300

In [20]:
df_id.to_csv('subway_info.csv', index=False)